ion-input {
    margin-top: 16px;
    font-size: 14px;
    --background: transparent;
    --background-color: transparent;
    padding: 0px 8px !important;
    border-radius: 4px;
    background: aliceblue;
}